@model List<FootballСalendar.Models.StadiumVM>

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("/Views/Admin/_PartialViews.cshtml")
<h1>Стадіони</h1>

@if (Model.Count == 0)
{
    <br />
    <h3>Пусто =(</h3>
    <br />
    <br />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Назва стадіону</th>
                <th>Кількість глядачів</th>
                <th>Зображення</th>
                <th>Місто</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        <img src="@item.Image" width="200" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityVM.Name)
                    </td>
                    <td>
                        <div class="btn-group d-flex justify-content-end">
                            <a class="btn btn-secondary" asp-controller="Country" asp-action="Edit" asp-route-id=@item.Id>Редагувати</a>

                            <a class="btn btn-secondary" asp-controller="Country" asp-action="Delete" asp-route-id=@item.Id> Видалити</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-secondary " asp-area="" asp-controller="Stadium" asp-action="Create">Додати стадіон</a>
