

<div class="btn-group d-flex justify-content-center" role="group">
    <a class="btn btn-secondary" asp-action="Index" asp-controller="FootballGame">Матчі</a>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="FootballClub">Клуби</a>   
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Leage">Ліги</a>   
    <a class="btn btn-secondary" asp-action="Index" asp-controller="News">Гравці</a>   
    <a class="btn btn-secondary" asp-action="Index" asp-controller="News">Тренери</a>   
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Stadium">Стадіони</a>   
    <a class="btn btn-secondary" asp-action="Index" asp-controller="City">Міста</a>   
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Country">Країни</a>   
</div>